<a href="https://colab.research.google.com/github/ginttone/test_visuallization/blob/master/2_ws0706.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[kaggle data](https://www.kaggle.com/vikrishnan/boston-house-prices?select=housing.csv)
* 정보단계

데이터 fill, replace

연속형 컬럼만 선택

* 교육단계

standard scaler

model learning


* 서비스단계

pickle 

가상 데이터 생성

apply prediction

함유량
데이터베이스의 각 레코드는 보스턴 교외 또는 마을을 설명합니다. 데이터는 1970 년 Boston Standard Metropolitan Statistical Area (SMSA)에서 가져온 것입니다. 속성은 다음과 같이 정의됩니다 (UCI Machine Learning Repository1에서 가져옴) : 

CRIM : 1 인당 도시 별 범죄율

ZN : 25,000 평방 피트 이상의 부지에 구역화 된 주거용 토지의 비율.

INDUS : 도시 당 비 소매 사업 에이커의 비율

CHAS : Charles River 더미 변수 (유도가 강 경계면 = 1, 그렇지 않으면 0)

NOX : 산화 질소 농도 (1000
만분 율 ) 1https : //archive.ics.uci.edu/ml/datasets/Housing
123
20.2. 데이터 세트로드 124

RM : 주거 당 평균 방 수

AGE : 1940 년 이전에 지어진 소유주 소유 유닛의 비율

DIS : 5 개 보스턴 고용 센터까지의 가중 거리

RAD : 방사형 고속도로 접근성 지수

TAX : $ 10,000 당 전체 가치 재산 세율

PTRATIO : 도시 별 학생-교사 비율 12. B : 1000 (Bk−0.63) 2 여기서 Bk는 도시 13의 흑인 비율입니다. 

LSTAT : 인구의 낮은 지위 %

MEDV : 소유주가 거주하는 주택의 중앙값 ($ 1000)
입력 속성에 단위가 혼합되어 있음을 알 수 있습니다.


CRIM,ZN,INDUS,CHAS,NOX,RM ,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV

'''
import pandas as pd
pd.read_csv('./housing.csv', sep=' ', header=None, error_bad_lines=False)
'''

## data loading

In [75]:
!ls -l ./Boston.csv

-rw-r--r-- 1 root root 37658 Jul  6 05:13 ./Boston.csv

In [83]:
import pandas as pd
df = pd.read_csv('./Boston.csv', header=None, index_col = 0 )
df.columns =['crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio','black','lstat','medv']
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 507 entries, nan to 506.0
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     507 non-null    object
 1   zn       507 non-null    object
 2   indus    507 non-null    object
 3   chas     507 non-null    object
 4   nox      507 non-null    object
 5   rm       507 non-null    object
 6   age      507 non-null    object
 7   dis      507 non-null    object
 8   rad      507 non-null    object
 9   tax      507 non-null    object
 10  ptratio  507 non-null    object
 11  black    507 non-null    object
 12  lstat    507 non-null    object
 13  medv     507 non-null    object
dtypes: object(14)
memory usage: 59.4+ KB

In [85]:
df[['crim','zn']].describe(include='all')

           crim   zn
count       507  507
unique      505   27
top     14.3337    0
freq          2  372

In [86]:
df['crim'].value_counts()

14.3337    2
0.01501    2
15.288     1
0.08308    1
0.08244    1
          ..
0.26938    1
5.44114    1
0.07503    1
0.13058    1
0.22969    1
Name: crim, Length: 505, dtype: int64

1.   연속형:

2.   분류형:

In [59]:
df['age'].value_counts()

100     43
96       4
98.2     4
98.8     4
87.9     4
        ..
78.3     1
68.7     1
36.1     1
8.9      1
15.7     1
Name: age, Length: 357, dtype: int64

In [60]:
df['age'].unique()

array(['age', '65.2', '78.9', '61.1', '45.8', '54.2', '58.7', '66.6',
       '96.1', '100', '85.9', '94.3', '82.9', '39', '61.8', '84.5',
       '56.5', '29.3', '81.7', '36.6', '69.5', '98.1', '89.2', '91.7',
       '94.1', '85.7', '90.3', '88.8', '94.4', '87.3', '82', '95', '96.9',
       '68.2', '61.4', '41.5', '30.2', '21.8', '15.8', '2.9', '6.6',
       '6.5', '40', '33.8', '33.3', '85.5', '95.3', '62', '45.7', '63',
       '21.1', '21.4', '47.6', '21.9', '35.7', '40.5', '29.2', '47.2',
       '66.2', '93.4', '67.8', '43.4', '59.5', '17.8', '31.1', '36.8',
       '33', '17.5', '7.8', '6.2', '6', '45', '74.5', '53.7', '33.5',
       '70.4', '32.2', '46.7', '48', '56.1', '45.1', '56.8', '86.3',
       '63.1', '66.1', '73.9', '53.6', '28.9', '77.3', '57.8', '69.6',
       '76', '36.9', '62.5', '79.9', '71.3', '85.4', '87.4', '90', '96.7',
       '91.9', '85.2', '97.1', '91.2', '54.4', '81.6', '92.9', '95.4',
       '84.2', '88.2', '72.5', '82.6', '73.1', '69.7', '84.1', '97',
       '95.8', '88.4', '95.6', '96', '98.8', '94.7', '98.9', '97.7',
       '97.9', '98.4', '98.2', '93.5', '93.6', '97.8', '95.7', '93.8',
       '94.9', '97.3', '88', '98.5', '94', '97.4', '92.6', '90.8', '93.9',
       '91.8', '93', '96.2', '79.2', '95.2', '94.6', '88.5', '68.7',
       '33.1', '73.4', '74.4', '58.4', '83.3', '62.2', '92.2', '89.8',
       '68.8', '41.1', '29.1', '38.9', '21.5', '30.8', '26.3', '9.9',
       '18.8', '32', '34.1', '38.3', '15.3', '13.9', '38.4', '15.7',
       '33.2', '31.9', '22.3', '52.5', '72.7', '59.1', '92.1', '88.6',
       '53.8', '32.3', '9.8', '42.4', '56', '85.1', '92.4', '91.3',
       '77.7', '80.8', '78.3', '83', '86.5', '17', '68.1', '76.9', '73.3',
       '66.5', '61.5', '76.5', '71.6', '18.5', '42.2', '54.3', '65.1',
       '52.9', '70.2', '34.9', '49.1', '13', '8.9', '6.8', '8.4', '19.1',
       '34.2', '86.9', '81.8', '89.4', '91.5', '94.5', '91.6', '62.8',
       '84.6', '67', '52.6', '42.1', '16.3', '51.8', '32.9', '42.8', '49',
       '27.6', '32.1', '64.5', '37.2', '49.7', '24.8', '20.8', '31.5',
       '31.3', '45.6', '22.9', '27.9', '27.7', '23.4', '18.4', '42.3',
       '51', '58', '20.1', '10', '47.4', '40.4', '17.7', '58.1', '71.9',
       '70.3', '82.5', '76.7', '37.8', '52.8', '90.4', '82.8', '83.2',
       '71.7', '67.2', '58.8', '52.3', '49.9', '74.3', '40.1', '14.7',
       '43.7', '25.8', '17.2', '28.4', '23.3', '38.1', '38.5', '34.5',
       '46.3', '59.6', '37.3', '45.4', '58.5', '49.3', '59.7', '56.4',
       '28.1', '48.5', '29.7', '44.4', '35.9', '36.1', '19.5', '91',
       '83.4', '81.3', '91.1', '89', '87.9', '91.4', '96.8', '97.5',
       '89.6', '93.3', '99.1', '89.5', '77.8', '89.1', '87.6', '70.6',
       '78.7', '78.1', '86.1', '74.8', '97.2', '96.6', '94.8', '96.4',
       '98.7', '98.3', '99.3', '80.3', '83.7', '84.4', '89.9', '65.4',
       '48.2', '84.7', '71', '56.7', '84', '90.7', '75', '67.6', '64.7',
       '74.9', '77', '40.3', '41.9', '51.9', '79.8', '53.2', '92.7', '98',
       '83.5', '54', '42.6', '28.8', '72.9', '65.3', '73.5', '79.7',
       '69.1', '89.3'], dtype=object)

In [70]:
df_age = df['age'].replace(to_replace='?',value=None,inplace=False)
df_age.unique()

array(['age', '65.2', '78.9', '61.1', '45.8', '54.2', '58.7', '66.6',
       '96.1', '100', '85.9', '94.3', '82.9', '39', '61.8', '84.5',
       '56.5', '29.3', '81.7', '36.6', '69.5', '98.1', '89.2', '91.7',
       '94.1', '85.7', '90.3', '88.8', '94.4', '87.3', '82', '95', '96.9',
       '68.2', '61.4', '41.5', '30.2', '21.8', '15.8', '2.9', '6.6',
       '6.5', '40', '33.8', '33.3', '85.5', '95.3', '62', '45.7', '63',
       '21.1', '21.4', '47.6', '21.9', '35.7', '40.5', '29.2', '47.2',
       '66.2', '93.4', '67.8', '43.4', '59.5', '17.8', '31.1', '36.8',
       '33', '17.5', '7.8', '6.2', '6', '45', '74.5', '53.7', '33.5',
       '70.4', '32.2', '46.7', '48', '56.1', '45.1', '56.8', '86.3',
       '63.1', '66.1', '73.9', '53.6', '28.9', '77.3', '57.8', '69.6',
       '76', '36.9', '62.5', '79.9', '71.3', '85.4', '87.4', '90', '96.7',
       '91.9', '85.2', '97.1', '91.2', '54.4', '81.6', '92.9', '95.4',
       '84.2', '88.2', '72.5', '82.6', '73.1', '69.7', '84.1', '97',
       '95.8', '88.4', '95.6', '96', '98.8', '94.7', '98.9', '97.7',
       '97.9', '98.4', '98.2', '93.5', '93.6', '97.8', '95.7', '93.8',
       '94.9', '97.3', '88', '98.5', '94', '97.4', '92.6', '90.8', '93.9',
       '91.8', '93', '96.2', '79.2', '95.2', '94.6', '88.5', '68.7',
       '33.1', '73.4', '74.4', '58.4', '83.3', '62.2', '92.2', '89.8',
       '68.8', '41.1', '29.1', '38.9', '21.5', '30.8', '26.3', '9.9',
       '18.8', '32', '34.1', '38.3', '15.3', '13.9', '38.4', '15.7',
       '33.2', '31.9', '22.3', '52.5', '72.7', '59.1', '92.1', '88.6',
       '53.8', '32.3', '9.8', '42.4', '56', '85.1', '92.4', '91.3',
       '77.7', '80.8', '78.3', '83', '86.5', '17', '68.1', '76.9', '73.3',
       '66.5', '61.5', '76.5', '71.6', '18.5', '42.2', '54.3', '65.1',
       '52.9', '70.2', '34.9', '49.1', '13', '8.9', '6.8', '8.4', '19.1',
       '34.2', '86.9', '81.8', '89.4', '91.5', '94.5', '91.6', '62.8',
       '84.6', '67', '52.6', '42.1', '16.3', '51.8', '32.9', '42.8', '49',
       '27.6', '32.1', '64.5', '37.2', '49.7', '24.8', '20.8', '31.5',
       '31.3', '45.6', '22.9', '27.9', '27.7', '23.4', '18.4', '42.3',
       '51', '58', '20.1', '10', '47.4', '40.4', '17.7', '58.1', '71.9',
       '70.3', '82.5', '76.7', '37.8', '52.8', '90.4', '82.8', '83.2',
       '71.7', '67.2', '58.8', '52.3', '49.9', '74.3', '40.1', '14.7',
       '43.7', '25.8', '17.2', '28.4', '23.3', '38.1', '38.5', '34.5',
       '46.3', '59.6', '37.3', '45.4', '58.5', '49.3', '59.7', '56.4',
       '28.1', '48.5', '29.7', '44.4', '35.9', '36.1', '19.5', '91',
       '83.4', '81.3', '91.1', '89', '87.9', '91.4', '96.8', '97.5',
       '89.6', '93.3', '99.1', '89.5', '77.8', '89.1', '87.6', '70.6',
       '78.7', '78.1', '86.1', '74.8', '97.2', '96.6', '94.8', '96.4',
       '98.7', '98.3', '99.3', '80.3', '83.7', '84.4', '89.9', '65.4',
       '48.2', '84.7', '71', '56.7', '84', '90.7', '75', '67.6', '64.7',
       '74.9', '77', '40.3', '41.9', '51.9', '79.8', '53.2', '92.7', '98',
       '83.5', '54', '42.6', '28.8', '72.9', '65.3', '73.5', '79.7',
       '69.1', '89.3'], dtype=object)